
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-Vi9 {
  padding: 3.467rem 6.4rem 4rem 5.8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #1c1c1c;
  box-sizing: border-box;

  .ellipse-1-ajb {
    width: 6.1rem;
    height: 6.1rem;
    background-color: #d9d9d9;
    border-radius: 3.05rem;
    flex-shrink: 0;
    margin: 0.033rem 2.9rem 0rem 0rem;
  }
  .auto-group-cqwv-tkH {
    margin: 0.133rem 4.3rem 0rem 0rem;
    width: 62.7rem;
    height: 94.8rem;
    position: relative;
    flex-shrink: 0;

    .nav-menu-items-cwB {
      position: absolute;
      left: 2rem;
      top: 2rem;
      display: flex;
      align-items: center;
      width: 36.6rem;
      height: 1.9rem;

      .how-it-works-9RK {
        font-weight: 400;
        line-height: 1.185;
        color: #ffffff;
        flex-shrink: 0;
        margin-right: 2.9rem;
        font-size: 1.6rem;
        text-transform: uppercase;
        font-family: Rubik, 'Source Sans Pro';
        white-space: nowrap;
      }
      .tokenomics-Q6M {
        margin-right: 3.1rem;
        font-size: 1.6rem;
        white-space: nowrap;
        flex-shrink: 0;
        font-weight: 400;
        line-height: 1.185;
        text-transform: uppercase;
        color: #ffffff;
        font-family: Rubik, 'Source Sans Pro';
      }
      .whitepaper-8o3 {
        font-weight: 400;
        line-height: 1.185;
        text-transform: uppercase;
        color: #ffffff;
        font-family: Rubik, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
      }
    }
    .next-meme-coin-coming-soon-5TP {
      left: 2.25rem;
      font-weight: 700;
      color: #ffffff;
      width: 40.1rem;
      height: 13.7rem;
      position: absolute;
      top: 8.4rem;
      text-align: center;
      font-size: 5rem;
      line-height: 1.3618164062;
      font-family: Open Sans, 'Source Sans Pro';

      .next-meme-coin-coming-soon-5TP-sub-0 {
        font-size: 5rem;
        font-weight: 700;
        line-height: 1.3625;
        color: #ffffff;
        font-family: Open Sans, 'Source Sans Pro';
      }
      .next-meme-coin-coming-soon-5TP-sub-1 {
        font-size: 5rem;
        font-weight: 700;
        line-height: 1.3625;
        color: #b8ee1f;
        font-family: Open Sans, 'Source Sans Pro';
      }
    }
    .buttons-kLZ {
      width: 59.3rem;
      height: 94.8rem;
      position: absolute;
      left: 3.4rem;
      top: 0;
      border-radius: 4rem;

      .button-3-HLV {
        color: #b8ee1f;
        width: 19.2rem;
        font-weight: 700;
        text-transform: uppercase;
        white-space: nowrap;
        align-items: center;
        border-radius: 4rem;
        margin: 0rem 0rem 17.5rem 40.1rem;
        display: flex;
        justify-content: center;
        font-family: Rubik, 'Source Sans Pro';
        border: solid 0.1rem #b8ee1f;
        box-sizing: border-box;
        height: 5.5rem;
        font-size: 1.6rem;
        line-height: 1.185;
      }
      .mini-counter-3ys {
        height: 7rem;
        background-color: rgba(22, 14, 51, 0.5);
        border-radius: 6.4rem;
        margin: 0rem 0rem 59.3rem 1.4rem;
        box-sizing: border-box;
        padding: 1rem 4rem 0.8rem 3.9rem;
        width: 35rem;

        .counters-MzZ {
          height: 100%;
          display: flex;
          align-items: center;
          width: 100%;

          .day-iKK {
            margin-right: 1.4rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .item-10-G5w {
              color: #b8ee1f;
              font-family: Rubik, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              font-size: 3rem;
              font-weight: 500;
              line-height: 1.185;
            }
            .days-nKB {
              font-family: Rubik, 'Source Sans Pro';
              white-space: nowrap;
              text-transform: uppercase;
              color: #ffffff;
              font-weight: 400;
              line-height: 1.185;
              flex-shrink: 0;
              text-align: center;
              font-size: 1.3rem;
            }
          }
          .item--vAV {
            text-transform: uppercase;
            font-family: Rubik, 'Source Sans Pro';
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 1.185;
            color: #ffffff;
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1rem;
            text-align: center;
          }
          .day-rK3 {
            margin-right: 1.1rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .item-10-PZs {
              line-height: 1.185;
              color: #b8ee1f;
              font-family: Rubik, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              font-size: 3rem;
              font-weight: 500;
            }
            .days-vph {
              font-weight: 400;
              font-family: Rubik, 'Source Sans Pro';
              text-align: center;
              font-size: 1.3rem;
              color: #ffffff;
              white-space: nowrap;
              flex-shrink: 0;
              line-height: 1.185;
              text-transform: uppercase;
            }
          }
          .item--gJ5 {
            margin-right: 1.05rem;
            text-align: center;
            font-weight: 400;
            color: #ffffff;
            font-family: Rubik, 'Source Sans Pro';
            flex-shrink: 0;
            font-size: 1.3rem;
            line-height: 1.185;
            text-transform: uppercase;
            white-space: nowrap;
          }
          .day-D37 {
            flex-shrink: 0;
            margin-right: 1.05rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;

            .item-10-maR {
              text-align: center;
              font-size: 3rem;
              font-weight: 500;
              line-height: 1.185;
              color: #b8ee1f;
              font-family: Rubik, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .days-tQ9 {
              text-align: center;
              font-weight: 400;
              line-height: 1.185;
              text-transform: uppercase;
              color: #ffffff;
              font-family: Rubik, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.3rem;
            }
          }
          .item--dcd {
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 1.185;
            font-family: Rubik, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 1rem;
            text-transform: uppercase;
            color: #ffffff;
            white-space: nowrap;
            text-align: center;
          }
          .day-Xxu {
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .item-10-JCy {
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              font-size: 3rem;
              font-weight: 500;
              line-height: 1.185;
              color: #b8ee1f;
              font-family: Rubik, 'Source Sans Pro';
            }
            .days-Qmo {
              font-family: Rubik, 'Source Sans Pro';
              white-space: nowrap;
              text-align: center;
              font-weight: 400;
              text-transform: uppercase;
              color: #ffffff;
              flex-shrink: 0;
              font-size: 1.3rem;
              line-height: 1.185;
            }
          }
        }
      }
      .auto-group-95vd-Kds {
        margin-right: 21.6rem;
        width: calc(100% - 21.6rem);
        height: 5.5rem;
        display: flex;
        align-items: center;

        .button-1-fSq {
          color: #1c1c1c;
          white-space: nowrap;
          margin-right: 0.9rem;
          height: 100%;
          text-transform: uppercase;
          font-family: Rubik, 'Source Sans Pro';
          justify-content: center;
          flex-shrink: 0;
          width: 15.6rem;
          font-size: 1.6rem;
          line-height: 1.185;
          display: flex;
          align-items: center;
          background-color: #b8ee1f;
          font-weight: 700;
          border-radius: 4rem;
        }
        .button-2-jhb {
          width: 21.2rem;
          border: solid 0.1rem #b8ee1f;
          box-sizing: border-box;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.185;
          color: #b8ee1f;
          align-items: center;
          height: 100%;
          text-transform: uppercase;
          font-family: Rubik, 'Source Sans Pro';
          display: flex;
          justify-content: center;
          border-radius: 4rem;
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .frame-2-FJZ {
      overflow: hidden;
      background-color: #b8ee1f;
      border-radius: 1rem;
      width: 44.5rem;
      height: 54.5rem;
      position: absolute;
      left: 0;
      top: 31.9rem;

      .early-bird-round-McV {
        color: #000000;
        font-family: Rubik, 'Source Sans Pro';
        position: absolute;
        left: 4.05rem;
        top: 2.3rem;
        text-align: center;
        font-size: 4.4rem;
        font-weight: 700;
        white-space: nowrap;
        width: 36.4rem;
        height: 5.3rem;
        line-height: 1.185;
      }
      .price-105044417283425-000001-qXf {
        font-weight: 400;
        width: 29.7rem;
        height: 1.9rem;
        top: 8.3rem;
        text-align: center;
        font-size: 1.6rem;
        white-space: nowrap;
        position: absolute;
        left: 7.4rem;
        line-height: 1.185;
        color: #000000;
        font-family: Rubik, 'Source Sans Pro';
      }
      .usdc-1050444172-1050444172-XvH {
        font-family: Rubik, 'Source Sans Pro';
        white-space: nowrap;
        height: 1.9rem;
        top: 14.5rem;
        text-align: center;
        font-size: 1.6rem;
        color: #000000;
        width: 29.3rem;
        position: absolute;
        left: 7.6rem;
        font-weight: 800;
        line-height: 1.185;
      }
      .your-purchased-soon0-qg5 {
        position: absolute;
        font-size: 1.6rem;
        font-weight: 800;
        line-height: 1.185;
        white-space: nowrap;
        width: 20.6rem;
        height: 1.9rem;
        left: 11.95rem;
        top: 17.2rem;
        text-align: center;
        color: #000000;
        font-family: Rubik, 'Source Sans Pro';
      }
      .must-make-request-ticket-for-whitelist-vhX {
        height: 1.9rem;
        font-weight: 700;
        line-height: 1.185;
        text-align: center;
        font-size: 1.6rem;
        color: #000000;
        font-family: Rubik, 'Source Sans Pro';
        width: 33.3rem;
        position: absolute;
        left: 5.6rem;
        top: 44rem;
        white-space: nowrap;
      }
      .input-field-DwX {
        padding: 1.7rem 2.6rem 1.5rem 2.3rem;
        width: 34.9rem;
        height: 6.2rem;
        position: absolute;
        left: 4.3rem;
        top: 28rem;
        display: flex;
        box-sizing: border-box;
        border: solid 0.1rem #ffffff;
        background-color: #ffffff;
        align-items: center;
        border-radius: 4.9rem;

        .item-0-6Ed {
          line-height: 1.615;
          color: #e0e0e0;
          font-family: Hind Siliguri, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 26rem;
          font-size: 1.8rem;
          font-weight: 400;
        }
        .eth-pgR {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.615;
          color: #000000;
          font-family: Hind Siliguri, 'Source Sans Pro';
        }
      }
      .input-field-8x1 {
        left: 4.3rem;
        top: 11.1rem;
        background-color: #ffffff;
        padding-right: 10.2rem;
        height: 2.3rem;
        position: absolute;
        align-items: flex-end;
        border: solid 0.1rem #ffffff;
        border-radius: 4.9rem;
        box-sizing: border-box;
        width: 34.9rem;
        display: flex;

        .bg-fBF {
          border: solid 0.1rem #ffffff;
          box-sizing: border-box;
          background-color: #0d0d0d;
          border-radius: 4.9rem 0 0 4.9rem;
          flex-shrink: 0;
          margin-right: 0.6rem;
          width: 10.8rem;
          height: 2.3rem;
        }
        .next-stage-price-00005-B9b {
          margin-bottom: 0.05rem;
          font-size: 1.2rem;
          font-weight: 700;
          flex-shrink: 0;
          display: flex;
          line-height: 1.615;
          color: #000000;
          font-family: Hind Siliguri, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .input-field-Ggq {
        align-items: center;
        border: solid 0.1rem #ffffff;
        padding: 1.7rem 2.7rem 1.5rem 2.3rem;
        width: 34.9rem;
        height: 6.2rem;
        position: absolute;
        left: 4.3rem;
        top: 35.8rem;
        box-sizing: border-box;
        display: flex;
        background-color: #ffffff;
        border-radius: 4.9rem;

        .item-0-yr9 {
          font-weight: 400;
          line-height: 1.615;
          color: #e0e0e0;
          font-family: Hind Siliguri, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 24rem;
          font-size: 1.8rem;
        }
        .soon-tiD {
          font-weight: 400;
          line-height: 1.615;
          color: #000000;
          font-family: Hind Siliguri, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
        }
      }
      .auto-group-btmb-p65 {
        left: 12.8rem;
        top: 20.5rem;
        display: flex;
        align-items: center;
        width: 19.2rem;
        height: 5.5rem;
        position: absolute;

        .button-1-Z3f {
          border: solid 0.1rem #000000;
          flex-shrink: 0;
          width: 8.1rem;
          height: 100%;
          display: flex;
          justify-content: center;
          font-family: Rubik, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
          box-sizing: border-box;
          color: #b8ee1f;
          background-color: #000000;
          border-radius: 4rem;
          text-transform: uppercase;
          margin-right: 1.9rem;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.185;
        }
        .button-2-dJR {
          white-space: nowrap;
          justify-content: center;
          box-sizing: border-box;
          height: 100%;
          background-color: #b8ee1f;
          border-radius: 4rem;
          font-weight: 700;
          font-size: 1.6rem;
          color: #1c1c1c;
          border: solid 0.1rem #000000;
          flex-shrink: 0;
          width: 9.2rem;
          text-transform: uppercase;
          font-family: Rubik, 'Source Sans Pro';
          display: flex;
          align-items: center;
          line-height: 1.185;
        }
      }
      .button-1-u13 {
        font-weight: 700;
        color: #b8ee1f;
        border-radius: 4rem;
        width: 33.9rem;
        height: 5.5rem;
        font-size: 1.6rem;
        text-transform: uppercase;
        font-family: Rubik, 'Source Sans Pro';
        align-items: center;
        background-color: #1c1c1c;
        position: absolute;
        line-height: 1.185;
        white-space: nowrap;
        justify-content: center;
        left: 5.3rem;
        top: 47.9rem;
        display: flex;
      }
    }
  }
  .auto-group-auuu-Mdj {
    width: 55.8rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-vzy3-ufF {
      margin: 0rem 9.3rem 4rem 8.833rem;
      width: calc(100% - 18.133rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .mdi-youtube-zwb {
        margin: 0rem 10.644rem 0.267rem 0rem;
        width: 5.3333rem;
        height: 3.7333rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .mdi-twitter-u2y {
        width: 5.5787rem;
        height: 4.5333rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 10.511rem 0rem 0rem;
      }
      .ic-baseline-discord-bwP {
        flex-shrink: 0;
        margin-bottom: 0.2656rem;
        width: 5.5998rem;
        height: 4.2678rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .frame-1-jXo {
      height: 82.4rem;
      overflow: hidden;
      position: relative;
      box-sizing: border-box;
      padding: 1.9rem 3.6rem 1.9rem 39.2rem;
      width: 100%;
      background: linear-gradient(180deg, #e6e6e6 -0%, rgba(230, 230, 230, 0) 100%);
      border-radius: 3rem;
      flex-shrink: 0;

      .buttons-EjT {
        margin-bottom: 73.1rem;
        width: 100%;
        height: 5.5rem;
        border-radius: 2rem;

        .button-1-b4D {
          text-transform: uppercase;
          display: flex;
          justify-content: center;
          background-color: #ffffff;
          align-items: center;
          border-radius: 2rem;
          width: 100%;
          height: 100%;
          font-size: 1.6rem;
          font-weight: 700;
          color: #000000;
          white-space: nowrap;
          line-height: 1.185;
          font-family: Rubik, 'Source Sans Pro';
        }
      }
    }
  }
}
