
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 32rem;
}.frame-6-uJy {
  border-radius: 100rem;
  width: 100%;
  height: 32rem;
  overflow: hidden;
  position: relative;
  border: solid 0.3rem #ffffff;
  box-sizing: border-box;
  background-color: #ffffff;

  .soongraphic062123png-1-fJ9 {
    background-image: url('REPLACE_IMAGE:d1a3db5b2ed06662352fb8242162c277a4aef654');
    width: 36.4rem;
    height: 34rem;
    position: relative;
    background-size: 128.623% 137.595%;
    background-position: -5.6189rem -8.0492rem;
  }
}
