
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 122.6rem;
}.frame-4-e4q {
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 2rem;
  box-sizing: border-box;
  padding: 2.3rem 4.5rem 4.1rem 4.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;

  .auto-group-2bnu-9GV {
    margin: 0rem 52.05rem 2.2rem 46.35rem;
    width: calc(100% - 98.4rem);
    height: 8.1rem;
    position: relative;
    flex-shrink: 0;

    .value-GM7 {
      text-align: center;
      font-weight: 400;
      width: 12.4rem;
      position: absolute;
      top: 0;
      line-height: 1.2575;
      color: #175fcc;
      font-family: Franchise, 'Source Sans Pro';
      white-space: nowrap;
      height: 6.8rem;
      left: 1.5rem;
      font-size: 5.4rem;
    }
    .amount-500-000001-Nf3 {
      white-space: nowrap;
      width: 15.4rem;
      height: 1.9rem;
      position: absolute;
      left: 0;
      top: 6.2rem;
      text-align: center;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 1.1725;
      color: #000000;
      font-family: Roboto Condensed, 'Source Sans Pro';
    }
  }
  .input-field-tNV {
    padding: 1.7rem 2rem 1.9rem 2.3rem;
    display: flex;
    border-radius: 4.9rem;
    flex-shrink: 0;
    background-color: #ffffff;
    margin: 0rem 42.3rem 1.4rem 36.6rem;
    box-sizing: border-box;
    width: calc(100% - 78.9rem);
    align-items: center;
    border: solid 0.1rem #175fcc;

    .item-500-CPB {
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.3625;
      color: #3f3f3f;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 22.1rem 0.1rem 0rem;
    }
    .soon-Wuf {
      flex-shrink: 0;
      margin-top: 0.1rem;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.3625;
      color: #000000;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .auto-group-c9qr-R13 {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 5.4rem;

    .group-1-k3K {
      top: 2.3rem;
      width: 113.8rem;
      height: 2.9rem;
      position: absolute;
      left: 0;

      .rectangle-1-ghf {
        box-sizing: border-box;
        border-radius: 10rem;
        width: 113.8rem;
        height: 1rem;
        position: absolute;
        left: 0;
        top: 1.9rem;
        border: solid 0.1rem #175fcc;
      }
      .rectangle-2-p3B {
        border-radius: 10rem 0 0 10rem;
        width: 7.8rem;
        height: 1rem;
        position: absolute;
        left: 0;
        top: 1.9rem;
        background-color: #175fcc;
      }
      .item-000001-XCV {
        height: 2rem;
        position: absolute;
        left: 0;
        font-weight: 400;
        line-height: 1.615;
        color: #040404;
        font-family: Hind Siliguri, 'Source Sans Pro';
        width: 3.9rem;
        top: 0;
        font-size: 1.2rem;
        white-space: nowrap;
      }
      .item-1-pBb {
        top: 0;
        font-size: 1.2rem;
        font-weight: 400;
        white-space: nowrap;
        width: 1rem;
        position: absolute;
        left: 112.8rem;
        font-family: Hind Siliguri, 'Source Sans Pro';
        height: 2rem;
        line-height: 1.615;
        color: #040404;
      }
    }
    .frame-5-Ku3 {
      border: solid 0.1rem #175fcc;
      box-sizing: border-box;
      border-radius: 1rem;
      width: 7rem;
      position: absolute;
      left: 4.4rem;
      overflow: hidden;
      height: 3.8rem;
      top: 0;

      .usd-UG9 {
        width: 2.5rem;
        position: absolute;
        top: 0.3rem;
        color: #040404;
        white-space: nowrap;
        height: 1.7rem;
        left: 2.25rem;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.3625;
        font-family: Open Sans, 'Source Sans Pro';
      }
      .item-1000-Lp9 {
        position: absolute;
        left: 1.6rem;
        top: 1.9rem;
        font-size: 1.2rem;
        font-family: Open Sans, 'Source Sans Pro';
        width: 3.8rem;
        height: 1.7rem;
        font-weight: 700;
        line-height: 1.3625;
        color: #040404;
        white-space: nowrap;
      }
    }
    .ellipse-1-2gy {
      box-sizing: border-box;
      left: 7.1rem;
      border: solid 0.1rem #175fcc;
      position: absolute;
      top: 4rem;
      background-color: #ffffff;
      border-radius: 0.7rem;
      width: 1.4rem;
      height: 1.4rem;
    }
  }
}
