
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 63.2rem;
}.lorem-ipsum-dolor-sit-amet-consectetur-urna-viverra-cras-nullam-elementum-mi-congue-lectus-id-sit-feugiat-purus-in-eget-tincidunt-ut-enim-posuere-consectetur-cursus-cursus-a-sed-fusce-leo-viverra-nulla-augue-a-gravida-nunc-fdK {
  width: 100%;
  height: 5.8rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
}
