
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-CNd {
  width: 100%;
  height: 106.8rem;
  position: relative;
  overflow: hidden;
  background: linear-gradient(117.86deg, #000000 8.32%, #181818 94.09%);
}
.desktop-1-CNd .ellipse-1-KCM {
  width: 51.2rem;
  height: 52.4rem;
  position: absolute;
  left: 104.8rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-CNd .ellipse-2-TJZ {
  width: 51.2rem;
  height: 52.4rem;
  position: absolute;
  left: 0;
  top: 56.2rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-CNd .ellipse-4-15B {
  width: 68.8rem;
  height: 68rem;
  position: absolute;
  left: 40.6rem;
  top: 19.6rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-CNd .pepeuniverse-pepe-1-9SH {
  width: 146.2rem;
  height: 82.2rem;
  position: absolute;
  left: 0;
  top: 0.3rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-CNd .frame-1-TSy {
  box-sizing: border-box;
  padding: 4.4rem 3.4rem 5.2rem 3.4rem;
  width: 144rem;
  height: 106.8rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(2.5rem);
  background-color: rgba(19, 42, 76, 0.75);
}
.desktop-1-CNd .frame-1-TSy .auto-group-khm7-xed {
  margin: 0rem 3.5rem 6.1rem 5.2rem;
  width: calc(100% - 8.6995rem);
  height: 5.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-khm7-xed .auto-group-edps-5jF {
  box-sizing: border-box;
  padding: 0.9rem 43.3rem 1.7rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-khm7-xed .auto-group-edps-5jF .nav-menu-items-1cu {
  margin: 0.8rem 22.8rem 0rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-khm7-xed .auto-group-edps-5jF .nav-menu-items-1cu .how-it-works-j37 {
  margin-right: 2.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.185;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-khm7-xed .auto-group-edps-5jF .nav-menu-items-1cu .tokenomics-oHs {
  margin-right: 3.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.185;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-khm7-xed .auto-group-edps-5jF .nav-menu-items-1cu .whitepaper-LHo {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.185;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-khm7-xed .auto-group-edps-5jF .logo-AGq {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.185;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-khm7-xed .button-3-6gH {
  width: 19.2rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.185;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  border-radius: 4rem;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-c4fp-b7F {
  margin: 0rem 40.9rem 4.7rem 40.7rem;
  width: calc(100% - 81.5995rem);
  height: 26.4rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-c4fp-b7F .next-meme-coin-coming-soon-Wk1 {
  width: 55.6rem;
  height: 20.2rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.3618164062;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
}
.desktop-1-CNd .frame-1-TSy .auto-group-c4fp-b7F .next-meme-coin-coming-soon-Wk1 .next-meme-coin-coming-soon-Wk1-sub-0 {
  font-size: 8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Franchise, 'Source Sans Pro';
}
.desktop-1-CNd .frame-1-TSy .auto-group-c4fp-b7F .next-meme-coin-coming-soon-Wk1 .next-meme-coin-coming-soon-Wk1-sub-1 {
  font-size: 8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #d7e2ff;
  font-family: Franchise, 'Source Sans Pro';
}
.desktop-1-CNd .frame-1-TSy .auto-group-c4fp-b7F .mini-counter-ssP {
  box-sizing: border-box;
  padding: 1rem 4rem 0.8rem 3.9rem;
  width: 35rem;
  height: 7rem;
  position: absolute;
  left: 10.3rem;
  top: 19.4rem;
  background-color: rgba(22, 14, 51, 0.5);
  border-radius: 6.4rem;
}
.desktop-1-CNd .frame-1-TSy .auto-group-c4fp-b7F .mini-counter-ssP .counters-yQd {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.desktop-1-CNd .frame-1-TSy .auto-group-c4fp-b7F .mini-counter-ssP .counters-yQd .day-KzH {
  margin-right: 1.4rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-c4fp-b7F .mini-counter-ssP .counters-yQd .day-KzH .item-10-4ws {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.185;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-c4fp-b7F .mini-counter-ssP .counters-yQd .day-KzH .days-DJy {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.185;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-c4fp-b7F .mini-counter-ssP .counters-yQd .item--wEy {
  margin-right: 1rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.185;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-c4fp-b7F .mini-counter-ssP .counters-yQd .day-UEu {
  margin-right: 1.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-c4fp-b7F .mini-counter-ssP .counters-yQd .day-UEu .item-10-1Eq {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.185;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-c4fp-b7F .mini-counter-ssP .counters-yQd .day-UEu .days-kiD {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.185;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-c4fp-b7F .mini-counter-ssP .counters-yQd .item--hNZ {
  margin-right: 1.05rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.185;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-c4fp-b7F .mini-counter-ssP .counters-yQd .day-PWH {
  margin-right: 1.05rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-c4fp-b7F .mini-counter-ssP .counters-yQd .day-PWH .item-10-vWD {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.185;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-c4fp-b7F .mini-counter-ssP .counters-yQd .day-PWH .days-58D {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.185;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-c4fp-b7F .mini-counter-ssP .counters-yQd .item--pLh {
  margin-right: 1rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.185;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-c4fp-b7F .mini-counter-ssP .counters-yQd .day-iws {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-c4fp-b7F .mini-counter-ssP .counters-yQd .day-iws .item-10-fcD {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.185;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-c4fp-b7F .mini-counter-ssP .counters-yQd .day-iws .days-DNq {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.185;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-yowv-KRs {
  margin-right: 46.4998rem;
  width: calc(100% - 46.4998rem);
  height: 54.5rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-yowv-KRs .auto-group-ukzd-G6D {
  margin: 0rem 43.4rem 1.033rem 0rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-yowv-KRs .auto-group-ukzd-G6D .mdi-youtube-Pgd {
  margin: 0rem 0rem 5.8rem 0rem;
  width: 2.6667rem;
  height: 1.8667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-yowv-KRs .auto-group-ukzd-G6D .mdi-twitter-ttH {
  margin: 0rem 0rem 6.533rem 0rem;
  width: 2.7893rem;
  height: 2.2667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-yowv-KRs .auto-group-ukzd-G6D .ic-baseline-discord-day {
  width: 2.7999rem;
  height: 2.1339rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-yowv-KRs .frame-2-NYZ {
  box-sizing: border-box;
  padding: 2.3rem 3.4rem 2rem 3.4rem;
  width: 44.5rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-yowv-KRs .frame-2-NYZ .auto-group-3aez-3ub {
  margin-bottom: 0.9rem;
  width: 100%;
  height: 7.9rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-yowv-KRs .frame-2-NYZ .auto-group-3aez-3ub .early-bird-round-oNy {
  width: 37.7rem;
  height: 6.8rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 5.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #175fcc;
  font-family: Franchise, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-CNd .frame-1-TSy .auto-group-yowv-KRs .frame-2-NYZ .auto-group-3aez-3ub .price-105044417283425-000001-6cy {
  width: 25.4rem;
  height: 1.9rem;
  position: absolute;
  left: 6.15rem;
  top: 6rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto Condensed, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-CNd .frame-1-TSy .auto-group-yowv-KRs .frame-2-NYZ .input-field-KVj {
  margin: 0rem 1.9rem 1.1rem 0.9rem;
  box-sizing: border-box;
  padding-right: 10.2rem;
  width: calc(100% - 2.8rem);
  display: flex;
  align-items: flex-end;
  border: solid 0.1rem #175fcc;
  background-color: #ffffff;
  border-radius: 4.9rem;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-yowv-KRs .frame-2-NYZ .input-field-KVj .bg-Ech {
  margin-right: 0.6rem;
  width: 10.8rem;
  height: 2.3rem;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  background-color: #175fcc;
  border-radius: 4.9rem 0 0 4.9rem;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-yowv-KRs .frame-2-NYZ .input-field-KVj .next-stage-price-00005-9Um {
  margin-bottom: 0.05rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.615;
  color: #000000;
  font-family: Hind Siliguri, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-yowv-KRs .frame-2-NYZ .usdc-1050444172-1050444172-EFK {
  margin-bottom: 0.8rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto Condensed, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-yowv-KRs .frame-2-NYZ .your-purchased-soon0-Ymo {
  margin-bottom: 1.4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto Condensed, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-yowv-KRs .frame-2-NYZ .auto-group-m6tu-gND {
  margin: 0rem 9.1rem 2rem 9.4rem;
  width: calc(100% - 18.5rem);
  height: 5.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-yowv-KRs .frame-2-NYZ .auto-group-m6tu-gND .button-1-P1j {
  margin-right: 1.9rem;
  width: 8.1rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.185;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #175fcc;
  border-radius: 4rem;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-yowv-KRs .frame-2-NYZ .auto-group-m6tu-gND .button-2-5fF {
  width: 9.2rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.185;
  text-transform: uppercase;
  color: #175fcc;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #175fcc;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 4rem;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-yowv-KRs .frame-2-NYZ .input-field-MMs {
  margin: 0rem 1.9rem 1.6rem 0.9rem;
  box-sizing: border-box;
  padding: 1.7rem 2.9rem 1.5rem 2.3rem;
  width: calc(100% - 2.8rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #175fcc;
  background-color: #ffffff;
  border-radius: 4.9rem;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-yowv-KRs .frame-2-NYZ .input-field-MMs .item-0-S8R {
  margin-right: 26rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.615;
  color: #3f3f3f;
  font-family: Hind Siliguri, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-yowv-KRs .frame-2-NYZ .input-field-MMs .eth-x6m {
  margin-bottom: 0.4rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 0.97;
  color: #000000;
  font-family: Iceland, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-yowv-KRs .frame-2-NYZ .input-field-Rm3 {
  margin: 0rem 1.9rem 2rem 0.9rem;
  box-sizing: border-box;
  padding: 1.7rem 3.1rem 1.5rem 2.3rem;
  width: calc(100% - 2.8rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #175fcc;
  background-color: #ffffff;
  border-radius: 4.9rem;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-yowv-KRs .frame-2-NYZ .input-field-Rm3 .item-0-785 {
  margin-right: 24rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.615;
  color: #3f3f3f;
  font-family: Hind Siliguri, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-yowv-KRs .frame-2-NYZ .input-field-Rm3 .soon-dMK {
  margin-bottom: 0.4rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 0.97;
  color: #000000;
  font-family: Iceland, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-yowv-KRs .frame-2-NYZ .must-make-request-ticket-for-whitelist-vrD {
  margin-bottom: 1.1rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.185;
  color: #000000;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-CNd .frame-1-TSy .auto-group-yowv-KRs .frame-2-NYZ .button-3-qyB {
  margin: 0 1.9rem;
  width: calc(100% - 3.8rem);
  height: 5.5rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.185;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #175fcc;
  border-radius: 4rem;
  flex-shrink: 0;
}
