
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 63.1rem;
}.pepeuniverse-pepe-1-scu {
  width: 100%;
  height: 35.5rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5.8rem;
}
