
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 60rem;
}.depositphotos575272086-stock-illustration-wen-letter-logo-design-black-1-6f3 {
  width: 100%;
  height: 60rem;
  object-fit: cover;
  vertical-align: top;
}
